  /* RESET */
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  img{
    width: 100%;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  /* FORM */

  /* GENERAL */
  /* Stars */
  .ms_star *{
    vertical-align: text-top;
    margin: 0 8px;
    font-size: 2rem;
  }

  .ms_star::after,
  .ms_star::before{
    content: ' ';
    width: 80px;
    height: 4px;
    display: inline-block;
    border-radius: 20px;
  }

  .small-container{
    width: 60%;
    margin: 0 auto;
    max-width: 1170px;
  }

  /* Paddings */
  .padding-big{
    padding: 1.5rem 0 2.5rem;
  }

  .padding-top{
    padding-top: 2rem;
  }

  /* Logo Section */
  .ms_logo_section h2{
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  
  .ms_logo_section{
    padding: 2rem;
  }
  

  /* HEADER */
  header {
    height: 100px;
    background-color: #2c3d50;
    color: white;
    display: flex;
    align-items: center;
  }

  /* Header Logo */
  .ms_header_logo{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  /* Footer Main Menu */
  .ms_main_menu li{
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* MAIN */
  /* Main Logo */
  .ms_img_logo{
    width: 250px;
    height: 250px;
    margin: 0px auto;
  }

  /* Text Logo */
  .ms_text_logo h1{
    font-size: 2.8rem;
    margin: 30px 0 15px;
    font-weight: 500;
  }

  .ms_text_logo h3{
    font-size: 1.4rem;
    padding-top: 1.4rem;
    font-weight: 400;
  }

  /* Portfolio Section */
  .bg-white .ms_star::after,.bg-white .ms_star::before{
    background-color: #3b546d;
  }
  .bg-lightblue .ms_star::after,.bg-lightblue .ms_star::before{
    background-color: white;
  }

  /* About Section */
  .ms_about_paraghaph{
    font-weight: 400;
    font-size: 1.3rem;
  }

  @media screen and (min-width: 768px){

    /* Text Logo */
    .ms_text_logo h1{
      font-size: 3.5rem;
    }
    .ms_text_logo h3{
      font-size: 1.7rem;
    }

    /* Star margin and width */
    .ms_star *{
      margin: 0 1.3rem;
    }

    .ms_star::after,
    .ms_star::before{
      width: 100px;
    }

    .ms_logo_section h2{
      font-size: 2.6rem;
      font-weight: 600;
    }
  }

  @media screen and (min-width: 992px){
    
    /* Star margin and width */
    .ms_star *{
      margin: 0 2.3rem;
    }

    .ms_star::after,
    .ms_star::before{
      width: 150px;
    }
  }

  /* COLORS */
  .bg-lightblue{
    background-color: #1abc9c;
    color: white;
  
  }

  .bg-lightgray{
    background-color: #3b546d;
    color: white;
  }

  .bg-white{
    background-color: white;
    color: #2c3d50;
  }

  .btn-color-transparent{
    color: #fff;
    border-color: white;
    transform: scale(1.2);
  }
